/* @import '@material-tailwind/react/dist/material-tailwind.css'; Adjust path if necessary */

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Montserrat", sans-serif;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }
  
  .hide-scroll-bar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }